{% extends 'base.html.twig' %}

{% block footer %}
    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Curriculum é um projeto utilizando Symfony 4.</span>
        </div>
    </footer>
{% endblock %}